<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="WorldZeroDBConnectionString" 
    connectionString="Data Source=.;Server=localhost;Database=W0;User Id=fake;Password=extrafake;"
    providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
